[Desktop Entry]
Name=CaseForge
Comment=Benchmark Case Generator
Exec=/opt/caseforge/CaseForge
Icon=caseforge
Terminal=false
Type=Application
Categories=Development;
